body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
  }
  
  .game-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .lock {
    background-color: #f8f8f8;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    text-align: center;
  }
  
  h1 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #555;
  }
  
  .digit-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .digit {
    width: 50px;
    height: 50px;
    text-align: center;
    font-size: 1.8rem;
    border: 2px solid #ccc;
    border-radius: 50%;
    margin: 0 10px;
  }
  
  #hintButton,
  #checkButton {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
  }
  
  #hintButton:hover,
  #checkButton:hover {
    background-color: #0056b3;
  }
  
  .hidden {
    display: none;
  }